/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
spec/foodie_spec.rb
lib/foodie/version.rb
lib/foodie.rb
foodie.gemspec
./spec/game_spec
codebreaker/lib/entities/console_game.rb
codebreaker/rubocop.yml
codebreaker/spec/console_game_spec.rb
codebreaker/spec/core_spec.rb
codebreaker/lib/entities/core.rb
./stat.yml
