/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
spec/foodie_spec.rb
lib/foodie/version.rb
lib/foodie.rb
foodie.gemspec
Gemfile
codebreaker/stat.yml
./spec/game_spec
codebreaker/lib/entities/console_game.rb
codebreaker/rubocop.yml
